
@use 'variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  display: flex
  justify-content: center
  align-items: center
  min-height: 100vh
  font-family: 'Outfit', sans-serif
  background-color: variables.$main-BG


.card
  display: flex
  flex-direction: column
  background-color: variables.$card-BG
  max-width: 280px
  padding: 19px
  border-radius: 10px


.img-card
  width: 100%
  display: flex
  margin: auto auto
  border-radius: 5px
  margin-bottom: 20px

.name
  color: variables.$white
  font-size: 1.1em
  font-weight: 400
  margin-bottom: 15px

.info
  color: variables.$soft-blue
  margin-bottom: 20px
  font-weight: 300
  font-size: 14px

.value-time
  display: flex
  justify-content: space-between
  font-size: 0.8em
  margin-bottom: 16px
  

.value, .time 
  display: flex
  align-items: center

.img-value, .img-time
  margin-right: 5px

.price-value
  color: variables.$cyan
  font-weight: 400

.days
  color: variables.$soft-blue
  font-weight: 400

.line
  border: none
  background-color: variables.$line
  height: 1px
  border-radius: 100%
  margin-bottom: 12px
  
.creator
  display: flex
  align-items: center
  color: variables.$soft-blue
  margin-bottom: 5px
  .avatar
    width: 25px
    border: 1px solid white
    border-radius: 50%
    margin-right: 10px
  
  span
    color: variables.$white
  
  p
    font-size: 13px
    font-weight: 300



  


  









  
  
